
.Nav-Bar{
    background-color: black;
}

.Nav-Item{
    color:white;
    font-size: 26px;
    font-family:Times New Roman;
    text-decoration: none;
}

.Nav-Item:hover{
    border-bottom: 4px solid red;
    font-weight: bold;
}

a { 
    color: white; 
}


ul {
    list-style-type: none;
    background-color: #333;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 7%;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  .nav-bar-wrapper {
    height: 200px;
    background-color: #333;

  }



.Content {
    margin: -8px;
  }

