asgiref
certifi
cffi
chardet
cryptography
defusedxml
dj-rest-auth
Django
django-allauth==0.41.0
django-rest-auth==0.9.5
django-rest-framework
djangorestframework
djangorestframework-simplejwt
PyJWT
idna
oauthlib
pybankid
pycparser
PyMySQL
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3
dj-rest-auth
Pillow
